version: "3.9"

services:
  mysql:
    image: mysql:8.0.33
    container_name: mysql
    environment:
      MYSQL_DATABASE: mercadolivro
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
      MYSQL_ROOT_PASSWORD: root123
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
    driver: local
